<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="vm.sidenavOpen">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Add a Classifides</h1>
    </md-toolbar>

    <md-content layout-padding>
        <form action="">
            <md-input-container>
                <label for="title">Title</label>
                <input type="text" id="title" md-autofocus ng-model="classified.title">
            </md-input-container>
            <md-input-container>
                <label for="price">Price</label>
                <input type="text" id="price" ng-model="classified.price">
            </md-input-container>
            <md-input-container>
                <label for="description">Description</label>
                <input type="text" id="description" ng-model="classified.description">
            </md-input-container>
            <md-input-container>
                <label for="image">Image Link</label>
                <input type="text" id="image" ng-model="classified.image">
            </md-input-container>
            <div class="clearfix"></div>
            <md-button class="md-primary" ng-click="vm.saveClassified(classified)" ng-if="!vm.editing">Save</md-button>
            <md-button class="md-primary" ng-if="vm.editing" ng-click="vm.saveEdit()">Save Edit</md-button>
            <md-button class="md-warn" ng-click="vm.closeSidebar()">Cancel</md-button>

        </form>
    </md-content>
</md-sidenav>