<!DOCTYPE html>
<html ng-app="ngClassifieds" >
<head>
  <meta charset="utf-8">
  <title>ngClassifieds</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.css" media="all" type="text/css">
  <link rel="stylesheet" href="css/style.css" >
</head>
<body>
    <!--NAVBAR-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <p><strong>ngClassifieds</strong></p>
            <md-button ng-click="vm.openSidebar()">
                <md-icon class="mdi mdi-plus-circle"></md-icon>
                NEW CLASSIFIEDS
            </md-button>
            <md-button ng-click="showFilters = true">
                <md-icon class="mdi mdi-magnify"></md-icon>
                Filters
            </md-button>
        </div>
    </md-toolbar>
    
    <div ui-view=""></div>
       
          
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="components/classifieds.ctrl.js"></script>
    <script type="text/javascript" src="components/classifieds.factory.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
   
    
</body>
</html>