<!DOCTYPE html>
<html ng-app="ngClassifieds" >
<head>
  <meta charset="utf-8">
  <title>ngClassifieds</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.css" media="all" type="text/css">
  <link rel="stylesheet" href="css/style.css" >
</head>
<body ng-controller="classifiedsCtrl">
    
    <md-toolbar>
        <div class="md-toolbar-tools">
            <p><strong>ngClassifieds</strong></p>
            <md-button>
                <md-icon class="mdi mdi-plus-circle"></md-icon>
                NEW CLASSIFIEDS
            </md-button>
        </div>
    </md-toolbar>
    
    <md-content class="md-padding" layout="row" layout-wrap>
        <md-card flex="30" ng-repeat="classified in classifieds">
            <img ng-src="{{classified.image}}" alt="">
            <md-card-content>
                <div class="classified-info" ng-show="!showContact">
                    <h2 class="md-title">{{classified.title}}</h2>
                    <h2>{{classified.posted | date}}</h2>
                    <h3>{{classified.price | currency}}</h3>
                    <p>{{classified.description}}</p>
                 </div>
                <div class="classified-contact" ng-show="showContact">
                    <p><md-icon class="mdi mdi-account"></md-icon>{{classified.contact.name}}</p>
                    <p><md-icon class="mdi mdi-phone"></md-icon>{{classified.contact.phone}}</p>
                    <p><md-icon class="mdi mdi-email"></md-icon>{{classified.contact.email}}</p>
                </div>
                <div layout="row">
                    <md-button ng-show="!showContact" ng-click="showContact = true">Contact</md-button>
                    <md-button ng-show="showContact" ng-click="showContact = false">Details</md-button>
                    <md-button ng-show="!showAdmin" ng-click="showAdmin = true">Admin</md-button>
                    <md-button ng-show="showAdmin" ng-click="showAdmin = false">Close</md-button>
                </div>
                <div class="classified-admin" ng-if="showAdmin">
                    <h3>Admin</h3>
                    <div layout="row">
                        <md-button class="md-primary">Edit</md-button>
                        <md-button class="md-warn">Delete</md-button>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
       
       
       
       
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="components/classifieds.ctrl.js"></script>
    <script type="text/javascript" src="components/classifieds.factory.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="node_modules/angular-aria/angular-aria.js"></script>
   
    
</body>
</html>